@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&family=Montserrat:wght@200;400;700&display=swap");

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: #fae4de;
  overflow: hidden;
  min-height: 250em;
}

wbr:after {
  content: "\00200B";
}

@font-face {
  font-family: "great_outdoors";
  src: local("great_outdoors"),
    url(./assets/fonts/TheGreatOutdoors.otf) format("opentype");
}
